---
import Layout from "../layouts/Layout.astro";
import { TypingText, MotionImage, MotionP } from "../components/MotionComponents";
import { AboutUsText, MisionText, HistoryText } from "../utils/constants";
---

<Layout title="About">
    <section class="w-full h-max py-12 lg:py-20">
        <h1 class="mt-20 text-white text-3xl lg:text-6xl xl:text-7xl max-w-[90%] lg:max-w-[80%] text-center font-bold mx-auto">Acerca de Colorado FC</h1>
        <div class="w-full h-max py-10 lg:py-16 relative overflow-x-hidden">
                <div class="absolute top-[20%] lg:left-0 left-[20%] w-[50%] h-[30%] inset-0 gradient-01" />


            <div class="mx-auto w-full 2xl:w-[80%] xl:px-16 h-full flex flex-col lg:flex-row px-6 sm:px-16 lg:justify-between">
                <div class="w-full lg:w-[50%] h-full flex flex-col items-center lg:items-start justify-between lg:py-16">
                    <TypingText reduced title="| ¿Quienes somos?" client:load/>
                    <MotionP content={AboutUsText} styles="mt-[20px] font-normal text-base lg:text-xl text-justify text-white" client:load>
                </div>
                <div class="w-full lg:w-[40%] flex items-center justify-center">
                    <MotionImage img="/logo.png" styles="w-[95%] h-[500px] lg:w-[600px] lg:h-[700px] object-cover" client:load>
                </div>
            </div>

        </div>
    </section>


    <section class="w-full h-max py-12 lg:py-20">
        <div class="w-full h-max py-10 lg:py-16 relative overflow-x-hidden">
                <div class="absolute top-[20%] lg:left-0 left-[20%] w-[50%] h-[30%] inset-0 gradient-01" />


            <div class="mx-auto w-full 2xl:w-[80%] xl:px-16 h-full flex flex-col lg:flex-row px-6 sm:px-16 lg:justify-between">
                <div class="w-full lg:w-[50%] h-full flex flex-col items-center lg:items-start justify-between lg:py-16">
                    <TypingText reduced title="| Nuestra misión" client:load/>
                    <MotionP content={MisionText} styles="mt-[20px] font-normal text-base lg:text-xl text-justify text-white" client:load>
                </div>
                <div class="w-full lg:w-[40%] flex items-center justify-center">
                    <MotionImage direction="left" img="/jugador.webp" styles="lg:w-[350px] xl:w-[400px] w-[300px] lg:h-[600px] xl:h-[700px] h-[600px] my-20 lg:my-0 object-cover" client:load>
                </div>
            </div>

        </div>
    </section>

    <section class="w-full h-max py-12 lg:py-20">
        <div class="w-full h-max py-10 lg:py-16 relative overflow-x-hidden">
                <div class="absolute top-[20%] lg:left-0 left-[20%] w-[50%] h-[30%] inset-0 gradient-01" />
            <div class="mx-auto w-full 2xl:w-[80%] xl:px-16 h-full flex flex-col lg:flex-row px-6 sm:px-16 lg:justify-between">
                <div class="w-full lg:w-[50%] h-full flex flex-col items-center lg:items-start justify-between lg:py-16">
                    <TypingText reduced title="| Haciendo historia" client:load/>
                    <MotionP content={HistoryText} styles="mt-[20px] font-normal text-base lg:text-xl text-justify text-white" client:load>
                </div>
                <div class="w-full lg:w-[40%] flex items-center justify-center">
                    <MotionImage img="/equipo.webp" styles="lg:w-[400px] xl:w-[400px] w-[90%] lg:h-[600px] xl:h-[700px] h-[400px] my-20 lg:my-0 object-contain rounded-xl" client:load>
                </div>
            </div>

        </div>
    </section>



</Layout>


<style>
.gradient-01 {
  background-image: linear-gradient(
    270deg,
    red 0%,
    gold 70%
  );
  filter: blur(125px);
  opacity: 0.3;
}
</style>