---
import ExploreSection from "../components/ExploreSection";
import ExploreSectionCard from "../components/ExploreSectionCard.astro";
import { TypingText } from "../components/MotionComponents";
import Layout from "../layouts/Layout.astro";
import { exploreSectionItems } from "../utils/constants";
---


<Layout title="Explorar">
    <section class="flex flex-col relative">¡
        <div class="w-full h-max flex flex-col items-center justify-center mt-[150px]">
            <div class="absolute top-[20%] lg:left-0 left-[20%] w-[50%] h-[30%] inset-0 gradient-01" />
            <h1 class="text-[30px] md:text-[50px] lg:text-[60px] xl:text-[85px] font-bold text-white ">Vive la Experiencia</h1>
            <TypingText styles="mt-6" reduced title="| Colorado FC" client:load/>
        </div>
        <ExploreSection client:load/>

       <div class="flex flex-col mx-auto items-center mt-[300px]">
          <h1 class="text-[30px] md:text-[50px] lg:text-[60px] xl:text-[85px] font-bold text-white ">Conoce nuestros</h1>
          <TypingText styles="mt-6 mx-auto" reduced title="| Métodos de Entrenamiento" client:load/>
       </div>

        <div class="grid grid-cols-1 xl:grid-cols-2 w-full lg:w-max h-max mx-auto gap-6 lg:gap-10 mt-[100px]">
          {
            exploreSectionItems.map((item, index) => (
              <ExploreSectionCard {...item} index={index}/>
            ))
          }
        </div>

    </section>
</Layout>


<style>
    .gradient-01 {
  background-image: linear-gradient(
    270deg,
    red 0%,
    gold 70%
  );
  filter: blur(125px);
  opacity: 0.3;
}
</style>