---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<section class="text-white w-full mt-[8vh] lg:mt-[10vh] h-[92vh] lg:h-[90vh] bg-[url('/instalaciones.webp')] bg-cover bg-center relative z-[10] flex flex-col items-center lg:flex-row lg:justify-evenly px-6">
    <div class="w-full h-full absolute top-0 left-0 -z-20 bg-black/80"></div>
      <div class="flex flex-col">
        <h1 class="radiant-text text-white leading-[1.16] font-bold text-5xl lg:text-7xl xl:text-8xl mt-6 md:text-6xl text-center lg:text-left p-4">Ven y entrena con <br> los mejores.</h1>
        <h3 class="font-semibold hidden lg:block text-4xl mt-10 p-4">"Entrenamos campeones, forjamos carácter. <br> Únete a nuestra familia futbolística."</h3>
      </div>
    <img src="/logo.png" class="lg:w-[400px] xl:w-[500px] w-[400px] lg:h-[600px]  xl:h-[700px] h-[500px] object-cover" alt="">
</section>
</Layout>

<style>

.profesor {
	animation: grow 1s ease-in-out, spin 1s linear forwards;
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-50px);
  }
}

.radiant-text {
    background: linear-gradient(45deg, #E3560A, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


	
</style>



